body {
    background-color: whitesmoke;
}

.headerContainer {
    margin: auto;
    margin-top: 2%;
    width: 50%;
    text-align: center;
    padding-bottom: 5%;
    border: 3px solid lightblue;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 15px;
}

.backButton {
    margin: auto;
    width: 50%;
    text-align: center;
    border-radius: 5px;
    border: 3px solid lightblue;
    background-color: #f1f1f1;
    line-height: 75px;
    font-size: 30px;
    cursor: pointer;
}

.pageContainer {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 5%;
}

.pageEntries {
    border-radius: 5px;
    border: 3px solid lightblue;
    background-color: #f1f1f1;
    line-height: 75px;
    font-size: 30px;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    border-radius: 5px;
    border: 3px solid red;
    background-color: #f1f1f1;
    line-height: 75px;
    font-size: 30px;
    cursor: pointer;
}

.contentAdder {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 5%;
}

form {
    border: 3px solid lightblue;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 20px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text],
focus {
    border: 3px solid lightblue;
}

input[type=button] {
    width: 100%;
    background-color: lightblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

input[type=button]:hover {
    background-color: lightskyblue;
}

.removeButton {
    display: none;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: lightblue;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    width: 50%;
    text-align: center;
}

.removeButton:hover {
    background-color: lightskyblue;
}

.editButton {
    display: none;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: lightblue;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
    margin-top: 5px;
    width: 50%;
    text-align: center;
}

.editButton:hover {
    background-color: lightskyblue;
}